* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    background-color: #000000;
}
// body {
   
// }

.container {
    max-width: 1855px;
    padding: 10px;
}

.light {
    background-color: #fff !important;
    color: #000000;
    a{
        color: #000000 !important;
    }
    .header__leange{
        .span1{
            color: #000000 !important ;
            
        }
        .span2{
            color: #F15A24 !important;
         
        }
    }
    .header__link {
     
        input {
            background: #F15A24 !important;
        }
       
    }
}